html,
body {

  background-size: 15px 15px;
  background-image: radial-gradient(circle, darkgray 1px, rgba(0, 0, 0, 0) 1px);
  background-color: lightgray;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;

}
h1 {
  font-style: italic;
  color: #373fff;
}

h2 {
  font-size: 10pt;
}


.button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  background-color: white;
  color: black;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

#openInfoButton{
  width:200px;
  margin:auto;
   position: -webkit-fixed; /* Safari */
  position: fixed;
  left:50%;
  display:none;
}

.column {
  width: 12%;
  display: inline-block;
  margin-bottom: 0px; /* was 20 */
  z-index: 20;

  position: -webkit-fixed; /* Safari */
  position: fixed;
  left: 10px;
}
#addSpace {
  position: -webkit-fixed; /* Safari */
  position: fixed;
  background-color: white;
  right: 20px;
  bottom:20px;
  z-index: 20;
  cursor: pointer;
  border-radius: 50%;

}

#addSpaceVertical {
  position: -webkit-fixed; /* Safari */
  position: fixed;
  background-color: white;
  right: 60px;
  bottom:20px;
  z-index: 20;
  cursor: pointer;
  border-radius: 50%;

}
.material-icons {
  margin: auto;
}


.timelineColumn {
  width: 12%;
  display: inline-block;
  margin-bottom: 0px; /* was 20 */
}

.if {
  border-top: 2px solid purple;
  border-bottom: 2px solid purple;
  margin: 5px;
  width: 100%;
}

#buttons {
  position: fixed;
  width: 100%;

}
#spawn {
  position: fixed;
}

footer {
/*   position: fixed; */
  bottom: 0px;
/*   right: 5px; */
  
  right:60%
}

/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.closeButtons {
  font-weight: bold;
  border: none;
  color: white;
  background-color: crimson;
  float:right;
}

.closeButtons:hover {
  background-color: red;
}


.switch .closeButtons, .par .closeButtons{
  float:none;
}


.invisible {
  visibility: none;
}


.creditsGroup {
  width: 30%;
  display: inline-block;
}

.hidden {
  display: none;
}

.fileText {
  font-family: "sans-serif";
  font-size: 10pt;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.wrapper {
  display: inline-block;
}


.smallText {
  font-size: 10pt;
}

.blackButton {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  padding-bottom: 15px;
  padding-top: 15px;
  /*     height:20px; */
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.blackButton #playIcon {
  color: white;
}

#people {
  margin-top: 5px;
}

#horSpaceText{
  right:0px;
  visibility:hidden;
}

#verSpaceText{
  right:0px;
  bottom:0px;
  visibility:hidden;
}


